<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>智慧管家-后台登录</title>
    <link rel="stylesheet" href="../../assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="../../assets/css/login.css?v=315">
    <link rel="stylesheet" href="../../assets/css/drag.css">
    <link rel="stylesheet" href="../../assets/module/admin.css?v=315">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        if (window != top) {
            top.location.replace(location.href);
        }
    </script>
</head>
<body>
<div class="login-wrapper">
    <div class="login-header">
        <img src="../../assets/images/logo.png"> 智慧管家-后台登录
    </div>
    <div class="login-body">
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-engine"></i>&nbsp;&nbsp;管理员登录
            </div>
            <form class="layui-card-body layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="layui-icon layui-icon-username"></i></label>
                    <div class="layui-input-block">
                        <input name="email" type="text" placeholder="邮箱" class="layui-input"
                               lay-verType="tips" lay-verify="email" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i></label>
                    <div class="layui-input-block">
                        <input name="password" type="password" placeholder="密码" class="layui-input"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>

                <!--<div class="layui-form-item">
                    <label class="layui-form-label"><i class="layui-icon layui-icon-vercode"></i></label>
                    <div class="layui-input-block">
                        <div class="layui-row inline-block">
                            <div id="drag"></div>
                        </div>
                    </div>
                </div>-->

                <div>
                    <label>完成验证：</label>
                    <div id="captcha">
                        <p id="wait" class="show">正在加载验证码......</p>
                    </div>
                </div>
                <br>
                <p id="notice" class="hide" style="color: red" hidden>请先完成验证</p>

                <div class="layui-form-item">
<!--                    <button lay-filter="login-submit" id="submit" style="opacity:0.5;pointer-events:none;" class="layui-btn layui-btn-fluid" lay-submit>登 录</button>-->
                    <input lay-filter="login-submit" id="submit" type="submit" value="登录" style="opacity:0.5;" class="layui-btn layui-btn-fluid " lay-submit>
                </div>
            </form>
        </div>
    </div>

</div>

<!-- js部分 -->
<script src="../../assets/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="../../assets/js/drag.js" type="text/javascript"></script>
<script type="text/javascript" src="../../assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="../../assets/js/common.js?v=315"></script>
<script type="text/javascript" src="../../assets/js/gt.js"></script>
<script>
    window.onload=function(){
        yanZheng();
    }

    var bool = false;
    var handler = function (captchaObj) {

        $("#submit").click(function (e) {
            var result = captchaObj.getValidate();
            if (!result) {
                $("#notice").show();
                setTimeout(function () {
                    $("#notice").hide();
                }, 2000);
                e.preventDefault();
            }else{
                this.bool = true;
            }

        });
        // 将验证码加到id为captcha的元素里，同时会有三个input的值用于表单提交
        captchaObj.appendTo("#captcha");
        captchaObj.onReady(function () {
            $("#wait").hide();
        });
    };
    function yanZheng(){
        $.ajax({
            url: "user/register?t=" + (new Date()).getTime(), // 加随机数防止缓存
            type: "get",
            dataType: "json",
            success: function (data) {
                // 调用 initGeetest 初始化参数
                // 参数1：配置参数
                // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它调用相应的接口
                initGeetest({
                    gt: data.gt,
                    challenge: data.challenge,
                    new_captcha: data.new_captcha, // 用于宕机时表示是新验证码的宕机
                    offline: !data.success, // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                    product: "float", // 产品形式，包括：float，popup
                    width: "100%"
                }, handler);
            }
        });
    }


    layui.use(['layer', 'form'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        $('#drag').drag();
        // 表单提交
        form.on('submit(login-submit)', function (obj) {
            if (!this.bool){
                return;
            }

            $.ajax({
                type: "post",
                contentType: 'application/json',
                url: "/admin/loginByPassword",
                data: JSON.stringify(obj.field),
                dataType: 'json',
                success: function (data) {
                    if (data.code == '200') {
                        layer.msg('登录成功',
                            {
                                icon: 1,
                                time: 1500
                            }, function () {
                                location.replace('/index')
                            })
                    } else {
                        layer.alert(data.msg, {icon: 2}, function (index) {
                            layer.close(index);
                        });
                    }
                }
            })
            return false;
        });

    });



</script>
</body>
</html>